
.ant-checkbox-group .ant-checkbox-group-item {
    font-size: 2.5rem;
}
span.ant-checkbox{
    display: none;
}
.thongbaoghedachon{
  
    font-size: 12px;
    width: 200px;
    position:absolute;
    left:0px;
    right:300px;
    top:220px;
}