

.container-dat-lai-mat-khau {
    display: flex;

}

.sidebar-dat-lai-mat-khau {
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    line-height: 24px;
    padding: 8px;
    width: 258px;
    height: 536px;
    margin-left: 115px;
    margin-top: 41px;
    position:absolute;
    left:50px;
    right:300px;
    top:200px;
}

.sidebar-dat-lai-mat-khau ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-dat-lai-mat-khau li {
    align-items: center;
    color: #111111;
    display: flex;
    line-height: 24px;
    padding: 8px;
    width: 240px;
    height: 64px;
}

.sidebar-dat-lai-mat-khau li:hover {
    background-color: #fff7f5; 
}

.sidebar-dat-lai-mat-khau a {
    font-size: 18px;
    color: #111111;
    line-height: 24px;
    margin: 0px 0px 0px 12px;
    text-decoration: none;
    font-weight: 300;
}

.sidebar-dat-lai-mat-khau a img {
    line-height: 24px;
    margin-right: 12px;
    vertical-align: middle;
}

.dat-lai-mat-khau{
    margin-top: 41px;
    height: 636px;
    margin-left: 32px;
   
}

.password-reset-form {
    width: 459px;
    height: 536px;
    margin-left: 189px;
}

.top-text {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
}

.bottom-text{
    color: #777;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    width: 500px;
}

.form-dat-lai-mat-khau{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin-top: 40px;
}

.form-dat-lai-mat-khau .text-center{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.form-dat-lai-mat-khau form{
    font-size: 14px;
    
}

.form-check{
    margin-top: 20px;
    
}

.form-check label{
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
}





.form-check .btn-confirm{
    padding: 12px 24px;
    background-color: #ef5222;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

.mkc-dlmk #matKhau.ant-input{
    height: 25px !important;
  }
  .old-password-lable{
    height: 22px;
    width: 150px;
    text-align: justify;
    margin-left: -48%;
  }
  .ant-input-affix-wrapper.ant-input-password.mkc-dlmk{
    height: 36px;
    border-radius: 20px;
    width: 350px !important;
  }
  .mkc-dlmk #newPassword.ant-input{
    height: 25px;
  }
  .mkc-dlmk #confirmNewPassword.ant-input{
    height: 25px;
  }
  .btn-dmk{
    background-color:#f1530fee;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-left: auto;
    border-radius: 20px; 
    width: 119px !important;
    height: 32px;
  }
  .btn-dmk:hover{
     background-color:#f1530fee;
  }