
/* New CSS for the password reset form */
.thong-tin-tai-khoan{
    width: 950px;
    height: 700px;

}

.top-text {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
}

.bottom-text{
    color: #777;
    font-size: 15px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 24px;
}

.form-thong-tin-tai-khoan{
    display: flex;
    width: 838px;
    height: 500px ;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 25px;
}

.imgae-tttk{
    
    width: 247px;
    height: 394px;
    padding: 8px;
}



.right-side-tttk {
    flex: 1;
    width: 517px;
    height: 394px;
    padding: 8px;
}

.right-side form {
    display: grid;
    gap: 10px;
}


.cap-nhat button {
    width: 180px;
    height: 46px;
    background-color: #f15a24;
    border-radius: 24px;
    color: white;
    border: none;
    text-align: center;
    align-items: center;
    padding: 4px 15px;
    
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-group label {
    flex-basis: 30%; 
    color: #000; 
    font-size: 13px; 
    text-align: left;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1; 
    padding: 8px; 
    border: 1px solid #ccc; 
}
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="date"]
 {
    flex: 1;
    border: none; 
    outline: none; 
    padding: 4px; 
}
.ngaysinh{
    width: 340px !important;
    height: 50px !important;
    margin-left: 0.5cm;
}
.btn-capnhat{
    position: absolute !important;
    background-color: #ef5222 !important;
    width: 10rem !important;
    height: 3rem !important;
    border-radius: 20px !important;
    left: 43% !important;
    color: white !important;
    font-weight: bolder !important;
    margin-top: -0.5cm !important;
}
.full-size-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
.ant-upload-list-item-info img{
   width: 4000px !important;

   border-radius: 50% !important;
}
.ant-upload-list-item img{
   
border-radius: 20% !important;
  
    
}

.ant-upload-list-item{    
    border-radius: 50% !important;
        margin-right: -2cm;
        
}
img.ant-upload-list-item-image{    
    border-radius:100% !important;
     height: 200px !important;
     width: 400px !important;
}
.ant-upload-list-picture-card-container {
    display: inline-block;
    width: 220px;
    height: 250px;
    margin: 0 8px 8px 0;
    vertical-align: top;
}